{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>
                Häufig gestellte Fragen
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4>
                Die ganze Welt lacht über die deutsche Verbotspolitik!
            </h4>

            <p>
                Eher nicht, nein, ganz im Gegenteil: Die Welt dürfte eher über den deutschen Eiertanz lachen, den Kraftverkehr auf gar keinen Fall einschränken, aber gleichzeitig die Luftqualität in den Städten steigern zu wollen. In vielen Städten weltweit gelten bereits heute <a href="https://www.adac.de/rund-ums-fahrzeug/abgas-diesel-fahrverbote/fahrverbote/fahrverbote-ausland/">deutlich härtere Restriktionen für Kraftfahrer</a>, bereits in wenigen Jahren gelten vielerorts Fahrverbote für Diesel- oder auch für Ottomotoren:
            </p>

            <p>
                In <strong>Oslo</strong> dürfen bei hoher Schadstoffbelastung keine Dieselfahrzeuge in die Stadt einfahren, langfristig sollen Verbrennungsmaschinen aus der Innenstadt <a href="http://www.spiegel.de/auto/aktuell/diesel-fahrverbote-in-oslo-smog-erfordert-drastische-massnahmen-a-1130242.html">verbannt werden</a>. <strong>Paris</strong> will den Diesel bis 2024 aus der Stadt kehren, ab 2030 sollen <a href="https://www.handelsblatt.com/politik/international/frankreich-paris-weitet-fahrverbot-aus/20446808.html">überhaupt keine Verbrennungsmaschinen</a> in der französischen Hauptstadt rollen. In <strong>Kopenhagen</strong> werden ab 2019 <a href="https://www.electrive.net/2017/10/10/in-kopenhagen-drohen-diesel-fahrverbote-ab-2019/">keine Dieselmotoren mehr zugelasen</a>, in Athen, Madrid und sogar Mexico-City ab 2025. Sogar in <strong>Rom</strong>, der vollkommen aufs Auto ausgerichteten Hauptstadt Italiens, sollen ab 2024 <a href="https://www.welt.de/motor/news/article174082491/Nicht-nur-ein-deutsches-Thema-Diesel-Fahrverbote-in-Rom.html">keine Dieselautos</a> mehr über das Kopfsteinpflaster knattern.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4>
                Die Stationen messen die Luft direkt am Auspuff
            </h4>

            <p>
                Das stimmt so nur teilweise. Tatsächlich werden Schadstoffe an unterschiedlichen Arten erfasst, um aus den Messwerten, den korrespondierenden Verkehrsbelastungen und Umweltverhältnissen <a href="https://radverkehrsforum.de/forum/thread/857-hamburg-max-brauer-allee-am-8-mai-2017/?postID=28074#post28074">ein passendes Modell</a> zu berechnen. Dazu werden nicht nur an Verkehrsknotenpunkten Stationen der Kategorie „Verkehr“ aufgestellt, sondern gleichzeitig abseits der Hauptverkehrsachsen oder gar auf dem freien Feld so genannte Hintergrundmessungen vorgenommen. Wiederum andere Stationen stehen in Industriegebieten oder an Flughäfen, um die dortigen Werte zu erfassen und in das Modell einfließen zu lassen.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4>
                Im Bureau gelten viel höhere Grenzwerte
            </h4>

            <p>
                Nein. Die häufig zitierten 950 Mikrogramm pro Kubikmeter gelten nur für bestimmte Arbeitsplätze, etwa in Bergwerken oder Maschinenhallen, wo für betroffene Arbeiter eine regelmäßige gesundheitliche Untersuchung vorgesehen sein sollte. Für den normalen Bureauarbeitsplatz gelten je nach Quelle <a href="https://www.mimikama.at/volksverpetzer/stickstoff-wahl/">40 oder 60 Mikrogramm pro Kubikmeter</a>.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4>
                „In Hamburg darf man jetzt 580 m einer Straße mit einem Diesel nicht mehr befahren. Wenn man mit diesem gleichen Diesel 2,7 km Umweg fährt und an 8 Ampeln anhält, schont man nach der Logik des rot-grünen Senats die Umwelt.“
            </h4>

            <p>
                Dieser Spruch macht momentan auf Twitter und Facebook immer wieder mal die Runde, ist aber sachlich falsch: Es geht bei den Fahrverboten nicht um den Umweltschutz, sondern um die Gesundheit der Menschen, die an den betroffenen Straßen wohnen oder sich dort aufhalten.
            </p>

            <p>
                Die relativ plumpe, aber durchaus einleuchtende Logik dahinter ist, dass aufgrund der Fahrverbote die Grenzwerte der Schadstoffbelastung in den betroffenen Straßen eingehalten werden kann, in den durch den Ausweichverkehr betroffenen Straßen die Messwerte allerdings nur moderat ansteigen und weiterhin die Grenzwerte nicht überschritten werden.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4>
                Fahrverbote sind lächerlich, wenn nebenan die Tanker im Hafen dieseln
            </h4>

            <p>
                Natürlich haben Häfen, Flughäfen und Industriegebiete ebenfalls einen nicht unerheblichen Einfluss auf die Schadstoffbelastung in einer Stadt, allerdings lassen sich die lokalen Belastungen durch Stickoxide, Feinstaub und Ozon offenbar hinreichend genau auf den Kraftverkehr als Verursacher zurückführen, um hier regelmentierend eingreifen zu können.,
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4>
                Nirgendwo steht als Ursache „Stickoxide“ im Totenschein
            </h4>

            <p>
                Das ist korrekt — so wie übrigens auch nirgendwo „Asbest“, „PCB“, „Tabakrauchen“ oder „15 Liter Cola pro Tag“ als Todesursache angegeben wird. Stickoxide können aber Krankheiten induzieren, den Kreislauf oder das Immunsystem schwächen und damit bereits harmloseren Krankheiten die Möglichkeit zu schweren Komplikationen bieten.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4>
                Wie haben nur die Höhlenmenschen am offenen Feuer überlebt?
            </h4>

            <p>
                „Höhlenmenschen“ wurden ohnehin nicht besonders alt, die Lebenserwartung dürfte damals kaum 30 Jahre betragen haben. In Ermangelung medizinischer Versorgung starben die Menschen damals bereits an heutzutage als leicht behandelbar geltenden Krankheiten und Verletzungen, etwa an Erkältungen und entzündeten Wunden. Schlecht verheilte Knochenbrüche wiederum schränkten die Bewegungsfähigkeit ein, die den Aktionsradius verkleinerten und den Menschen im Ernstfall zu leichter Beute für feindlich gesonnene Raubtiere machten.
            </p>

            <p>
                Insofern ist die Feinstaub- und Stickoxiddebatte tatsächlich ein Luxusproblem: Die damaligen Menschen konnten jahrelang am rußenden Feuer sitzen und wurden schlichtweg nicht alt genug, als dass sich Lungenkrebs oder andere davon verursachte Krankheiten hätten bilden können.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4>
                Früher war die Luft noch schlechter
            </h4>

            <p>
                So stark vereinfacht lässt sich die Sache nun nicht darstellen — die Luft war früher nicht unbedingt schlechter, sondern „anders“. Das geht schon damit los, dass das Verkehrsaufkommen früher ungleich geringer war und Kraftfahrzeuge zwar eine Menge Dreck ausstießen, der aber noch nicht in winzigen Feinstaubpartikeln bis in die Lunge gelangte.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4>
                Welche Partei können Autofahrer noch wählen?
            </h4>

            <p>
                Grundsätzlich versucht die Bundesregierung sowie alle betroffenen Landesregierungen egal welcher Zusammensetzung Fahrverbote für Kraftfahrzeuge nach Kräften zu verhindern. Selbst im rot-grün regierten Hamburg und im rot-grot-grünen Berlin wurden letztlich Fahrverbote nur dort verhängt, wo sie sich in rechtlicher Hinsicht überhaupt gar nicht mehr verhindern ließen, im grün-schwarzen Ländle wehrt sich der grüne Verkehrsminister ebenfalls gegen die Einführung von Verkehrsbeschränkungen für Kraftfahrer.
            </p>

            <p>
                Während die Grünen allerdings einen möglichst schnellen Mobilitätswandel anstreben und <a href="http://www.spiegel.de/politik/deutschland/gruenen-wollen-benzin-und-dieselautos-ab-2030-verbieten-a-1114463.html">ab 2030 keine Neuwagen mit Verbrennungsmaschine mehr zulassen wollen</a>, ist die Alternative für Deutschland die einzige Partei, bei der die Mobilität der Diesel-Besitzer höher priorisiert ist als die Gesundheit der Menschen; die AfD wirbt unter anderem mit <a href="https://www.sueddeutsche.de/news/wirtschaft/auto---heilbronn-afd-spitzenkandidatin-fordert-diesel-garantie-bis-2050-dpa.urn-newsml-dpa-com-20090101-170804-99-522578">einer Dieselgarantie bis 2050</a> um Wählerstimmen.
            </p>

            <p>
                Längerfristig betrachtet dürfte die AfD außerdem die einzige Partei sein, die zu einem Ausstieg aus dem Pariser Klimaschutzabkommen und sogar zu einem Austritt aus der Europäischen Union bereit wäre, um Kraftfahrer vor Einschränkungen ihrer Mobilität zu schützen.
            </p>
        </div>
    </div>
</div>
{% endblock content %}
















