{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>
                Häufig gestellte Fragen
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>
                Die ganze Welt lacht über die deutsche Verbotspolitik!
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>
                Warum werden die Messstationen nicht woanders aufgestellt?
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>
                Die Stationen messen die Luft direkt am Auspuff
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>
                Im Bureau gelten viel höhere Grenzwerte
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>
                „In Hamburg darf man jetzt 580 m einer Straße mit einem Diesel nicht mehr befahren. Wenn man mit diesem gleichen Diesel 2,7 km Umweg fährt und an 8 Ampeln anhält, schont man nach der Logik des rot-grünen Senats die Umwelt.“
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>
                Fahrverbote sind lächerlich, wenn nebenan die Tanker im Hafen dieseln
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>
                Nirgendwo steht als Ursache „Stickoxide“ im Totenschein
            </h3>

            <p>
                Das ist korrekt — so wie übrigens auch nirgendwo „Asbest“, „Tabakrauchen“ oder „15 Liter Cola pro Tag“ als Todesursache angegeben wird.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>
                Früher war die Luft noch schlechter
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>
                Wie haben nur die Höhlenmenschen am offenen Feuer überlebt?
            </h3>
        </div>
    </div>
</div>
{% endblock content %}
















