{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <span class="card-title">
                        Impressum
                    </span>
                </div>

                <div class="card-body">
                    <p>
                        Angaben nach § 5 TMG:
                    </p>

                    <p>
                        Malte Hübner
                        <br />
                        Niebuhrstraße 48
                        <br />
                        24118 Kiel
                    </p>

                    <p>
                        Telefon:
                        <a href="tel:070011864833">
                            0700 11 864 833
                        </a>
                        <br />
                        E-Mail: <a href="mailto:malte@caldera.cc">
                            malte@caldera.cc
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <span class="card-title">
                        Kontakt
                    </span>
                </div>

                <div class="card-body">
                    <p>
                        Bitte schreibt mir keine Mails an meine private E-Mail-Adresse und ruft mich bitte nicht an, wenn ihr mit den Fahrverboten unzufrieden seid. Wenn ihr mal so richtig Dampf ablassen wollt, schreibt eure Beschwerden bitte an <a href="mailto:muelltonne@fahrverbote.info">muelltonne@fahrverbote.info</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
















