{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>
                Datenschutzerklärung
            </h2>
        </div>
    </div>
</div>
{% endblock content %}
















