<ul class="list-inline">
    <li class="list-inline-item">
        <a href="{{ path('impress') }}">
            Impressum
        </a>
    </li>

    <li class="list-inline-item">
        <a href="{{ path('privacy') }}">
            Datenschutz
        </a>
    </li>
</ul>
