<a href="https://github.com/calderacc/fahrverbot" class="d-none d-sm-inline-block">
    <img style="position: absolute; top: 55px; right: 0; border: 0;" src="/img/github/forkme_right_green.png" alt="Fork me on GitHub" />
</a>
