<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/leaflet/leaflet.css" />
    <script src="/js/leaflet/leaflet.js" type="text/javascript"></script>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% include 'includes/navigation.html.twig' %}

{% block content %}
{% endblock content %}

{% include 'includes/ad.html.twig' %}

{% include 'includes/footer.html.twig' %}

<script src="/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>

{% block javascript %}
{% endblock javascript %}
</body>
</html>
