<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/leaflet/leaflet.css" />
    <script src="/js/leaflet/leaflet.js" type="text/javascript"></script>
    <script src="/js/leaflet-ajax/leaflet-ajax.min.js" type="text/javascript"></script>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% include 'includes/navigation.html.twig' %}

{% block content %}
{% endblock %}

<script src="/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
<script>
    var map = L.map('map', {
        center: [53.5647462, 9.9545752],
        zoom: 13
    });

    L.tileLayer('https://tiles.caldera.cc/wikimedia-intl/{z}/{x}/{y}.png', {
        attribution: 'Wikimedia maps beta | Map data &copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
    }).addTo(map);

    var geojsonLayer = new L.GeoJSON.AJAX('{{ geoJsonUrl }}');
    geojsonLayer.addTo(map);
</script>
</body>
</html>
